@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  font-size: 16px;
}

html {
  overflow-x: hidden;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #e5e5e5;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 8vh;
  z-index: 100;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.709);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.parent-element {
  display: flex;
}

@media screen and (max-width: 767px) {
  header div {
    margin-left: 5%;
  }

  #modal {
    display: none;
    position: fixed;
    z-index: 100;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(251, 251, 251, 0.153);
    border: 1px solid #ebecf0;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 16px;
  }

  .modal-container {
    display: flex;
    justify-content: left;
    flex-direction: column;
    width: 85%;
    height: 90%;
    padding: 15px;
    border-radius: 10px;
    background-color: white;
  }

  .back-end-dev-modal {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .canopyModal {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #344563;
  }

  .back-modal {
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    color: #7a869a;
    margin-left: 25px;
    width: 14vh;
  }

  .Type2015-modal {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    color: #7a869a;
    margin-left: 30px;
  }

  .idcard-modal {
    margin-top: 3vh;
    height: 100%;
    width: 100%;
    max-width: 330px;
    min-width: 200px;
  }

  .lorem {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
  }

  .modal-tonic-container {
    display: flex;
    justify-content: space-between;
    color: #091e42;
  }

  .modal-tonic {
    font-weight: 700;
    font-size: 32px;
    line-height: 52px;
  }

  .modal-canopy a {
    text-decoration: none;
    color: #091e42;
  }

  .lorem-button-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    margin-top: 11vh;
    height: 15vh;
  }

  .language-buttons-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
  }

  .language-button-modal {
    display: flex;
    margin-top: -2.2vh;
  }

  .language-button {
    margin-top: 3vh;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-right: 12px;
  }

  .buttons-div {
    border-top: 1px solid #ebecf0;
    display: flex;
    align-items: center;
    padding-top: 15px;
    margin-top: 3vh;
    flex-wrap: wrap;
  }

  .SeeLive-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #396df2;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 6px;
    width: max-content;
    padding: 7px 13px;
    margin-right: 10px;
    color: #396df2;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .SeeSource-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #fff;
    border: 1px solid #396df2;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 6px;
    width: max-content;
    padding: 7px 13px;
    margin-right: 10px;
    color: #396df2;
    cursor: pointer;
    margin-bottom: 6px;
  }

  .button-icon {
    height: 20px;
    width: 18px;
    margin-left: 10px;
  }

  .SeeLive-button:hover,
  .SeeSource-button:hover {
    background-color: #396df2;
    color: white;
    transition: 0.3s;
  }

  .cross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    right: 4%;
    cursor: pointer;
    z-index: 2;
    height: 3vh;
    font-size: x-large;
    background: none;
    border: none;
    color: #67798e;
  }

  .menuItems-div {
    display: none;
  }

  .desktop-menu {
    display: none;
  }

  .header {
    background-color: white;
    position: relative;
    justify-content: space-between;
  }

  .openMenu {
    margin-top: 4.8vh;
  }

  header nav {
    margin-right: 5%;
  }

  .My-logo-h1 {
    color: #6070ff;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    animation: animation1 2s ease-in-out;
    position: absolute;
  }

  @keyframes animation1 {
    0% {
      transform: rotate(0deg) translate(180px);
    }

    50% {
      transform: rotate(10deg) translate(-20px);
    }

    100% {
      transform: rotate(0deg) translateX(0);
    }
  }

  #menuChild {
    visibility: hidden;
    width: 100%;
    background-color: #6070ff;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: column;
    color: white;
    padding-top: 24%;
    opacity: 0.7;
  }

  li.menuItem1,
  li.menuItem2,
  li.menuItem3 {
    list-style-type: none;
    cursor: pointer;
    margin-right: 4vh;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
    margin-left: 32px;
  }

  li.menuItem2,
  li.menuItem3 {
    margin-top: 20px;
  }

  #cancel-icon {
    position: absolute !important;
    top: 5%;
    right: 5%;
    z-index: 20;
  }

  .a {
    text-decoration: none;
    font-size: 32px;
    color: #fff;
  }

  .blur {
    filter: blur(5px);
  }

  .section-1 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
  }

  .header-BG {
    display: none;
  }

  .background-img {
    position: absolute;
    height: 90vh;
    margin-top: 10vh;
    width: 100%;
    background-image: url("IMAGES/header-shapes\ mobile.png");
    background-position: center;
    background-size: 100% 100%;
    z-index: -1;
    background-color: white;
  }

  .BG-img {
    width: 100%;
    background-position: center;
    background-size: 100% 100%;
  }

  .heading-1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 10vh;
    width: 100%;
  }

  .First-heading {
    align-items: center;
    margin: 3%;
    width: 94%;
    height: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 11vh;
  }

  .exclimationMark {
    font-size: 40px;
    animation: exclimationMark 2s infinite ease-in-out;
  }

  @keyframes exclimationMark {
    0% {
      color: #172b4d;
    }

    50% {
      color: white;
    }

    100% {
      color: #172b4d;
    }
  }

  .First-heading-description {
    display: flex;
    margin: 3%;
    width: 94%;
    font-size: 16px;
    color: #344563;
  }

  .Connect-heading {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    margin: 3%;
    width: 94%;
  }

  .icons-div-mob {
    display: flex;
    margin: 3%;
    width: 94%;
    height: 20px;
    list-style: none;
  }

  .icons {
    margin-left: 3vh;
    width: 20px;
    height: 20px;
  }

  /* artical sections */
  .section-2 {
    display: none;
  }

  .Mob-section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* artical-1 */

  .artical-1 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .idcard:hover {
    transition: 0.5s;
    scale: 1.05;
    cursor: pointer;
  }

  .portfolio-idcard {
    width: 100%;
    list-style-type: none;
  }

  .idcard-1-img {
    width: 100%;
  }

  .Tonic-1 a {
    text-decoration: none;
    color: #172b4d;
  }

  .Tonic-1 a h1 {
    font-size: 32px;
  }

  .Canopy-1 {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2vh;
  }

  .Canopy-1 a {
    text-decoration: none;
    color: #344563;
  }

  .Type2015 {
    margin-left: 4vh;
  }

  .Tonic-1-description {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  .idcard-1-buttons {
    display: flex;
    align-items: center;
  }

  .tonic-1-html {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 35px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-top: 1vh;
  }

  .tonic-1-css {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 30px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 1vh;
    margin-top: 1vh;
  }

  .tonic-1-javaScript {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 68px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 1vh;
    margin-top: 1vh;
  }

  .Button-SeeProject {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #96aef0;
    border-radius: 10px;
    background: #fff;
    color: #396df2;
    letter-spacing: 0.03em;
    margin-top: 12px;
    cursor: pointer;
    transition: 0.3s;
  }

  .Button-SeeProject:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
    scale: 1.09;
    word-spacing: 1.5px;
  }

  .Button-SeeProject:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  /* artical-2 */

  .artical-2 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .div-1 {
    width: 100%;
  }

  .portfolio-idcard-2 {
    width: 100%;
    list-style-type: none;
  }

  .idcard-2-img {
    width: 100%;
  }

  .Multi-post a {
    text-decoration: none;
    color: #172b4d;
  }

  .Multi-post a h1 {
    font-size: 32px;
  }

  .Canopy-2 a {
    text-decoration: none;
    color: #344563;
  }

  .Canopy-2 {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2vh;
  }

  .Multi-description {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  /* artical-3 */

  .artical-3 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .idcard-3-img {
    width: 100%;
  }

  .portfolio-idcard-3 {
    list-style-type: none;
    margin-left: -3px;
    margin-top: -3vh;
  }

  .Canopy-3 a {
    text-decoration: none;
    color: #344563;
  }

  .Canopy-3 {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
    margin-top: 2vh;
  }

  .Tonic-1-description-2 {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  /* artical-4 */

  .artical-4 {
    display: flex;
    justify-content: center;
    align-items: self-start;
    flex-direction: column;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .idcard-4-img {
    width: 100%;
  }

  .portfolio-idcard-4 {
    list-style-type: none;
    margin-left: -2px;
    margin-top: -20px;
  }

  .Canopy-4 a {
    text-decoration: none;
    color: #344563;
  }

  .Canopy-4 {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    color: #7a869a;
    margin-top: 2vh;
  }

  .back-end-dev {
    display: flex;
    margin-left: 4vh;
    opacity: 90%;
    color: #7a869a;
    font-size: 13px;
    list-style-type: disc;
  }

  .Multi-2-description {
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
  }

  /* about myself section 3 */

  .section-3 {
    display: flex;
    justify-content: start;
    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #fff;
    border-top-right-radius: 70px;
    margin-top: 15vh;
  }

  .heading-2 {
    margin-left: 7%;
  }

  .About-myself {
    display: flex;
    align-items: center;
    width: 94%;
    height: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
    margin-top: 11vh;
  }

  .second-heading-description {
    display: flex;
    width: 94%;
    font-size: 16px;
    color: #344563;
  }

  .Let-connect {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 94%;
    margin-top: 1.5vh;
  }

  .icons-div-2 {
    display: flex;
    width: 94%;
    height: 20px;
    margin-top: 1.5vh;
    list-style: none;
    margin-left: 5%;
  }

  .icons-2 {
    margin-left: 3.2vh;
    width: 20px;
    height: 20px;
  }

  .icons-3 {
    margin-left: 2vh;
    width: 20px;
    height: 20px;
  }

  .get-my-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    border: 2px solid #96aef0;
    border-radius: 10px;
    background: #fff;
    color: #396df2;
    letter-spacing: 0.03em;
    margin-top: 1.5vh;
    width: 175px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 7%;
    text-decoration: none;
  }

  .get-my-resume:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
  }

  .get-my-resume:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  .languages-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 303px;
  }

  .Languages {
    font-size: 20px;
    margin-left: 14%;
  }

  .arrow-language {
    color: #8f9295;
    height: 6px;
    font-size: 25px;
    width: 12px;
    transform: rotate(90deg);
    margin-right: -2vh;
  }

  .div-JS {
    display: flex;
    align-items: center;
    width: 90%;
    height: 66.72px;
    background: #f7f7f9;
    border-radius: 8px;
    margin-left: 7%;
    margin-top: 2vh;
  }

  .icons-languages-div {
    list-style: none;
  }

  .languages-icons {
    margin-left: 20%;
  }

  .span-JS {
    margin-left: 5vh;
    font-size: 15px;
    font-weight: 500;
    color: #253858;
    line-height: 20px;
  }

  .Frameworks-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    margin-left: 7%;
  }

  .Frameworks {
    margin-top: 2vh;
    margin-left: 7%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .Arrow-frameworks {
    color: #6c6e70;
    height: 6px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .Skills-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    height: 10vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    margin-left: 7%;
    margin-bottom: 5vh;
  }

  .Arrow-skills {
    color: #6c6e70;
    height: 6px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .Skills {
    margin-top: 2vh;
    margin-left: 7%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .Contact_form_container {
    background-color: #fff;
  }

  .div-BG {
    display: none;
  }

  .Contact_form {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 103px 24px 8px;
    background-color: #6070ff;
    border-top-left-radius: 70px;
    background-position: right;
    background-repeat: no-repeat;
  }

  .div-imges {
    position: absolute;
    height: 10%;
    width: 100%;
    z-index: 1;
  }

  .div2-imges {
    position: absolute;
    width: 100%;
    margin-top: -11vh;
  }

  .img-1 {
    position: absolute;
    right: 0;
    margin-top: 7.5vh;
  }

  .img-2 {
    position: absolute;
    right: 0;
    margin-top: 2.9vh;
  }

  .img-3 {
    position: absolute;
    left: 40%;
    height: 3.5vh;
    margin-top: 10vh;
  }

  .img-4 {
    position: absolute;
    right: 49px;
    bottom: -2.2vh;
    width: 9vh;
  }

  .img-5 {
    position: absolute;
    right: 92px;
    bottom: -2.5vh;
    height: 4vh;
  }

  .form_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
  }

  .form_heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    color: #fff;
  }

  .Contact_form p {
    color: #ebebff;
    font-size: 20px;
    font-weight: 400;
    margin-top: 12px;
    text-align: center;
  }

  .form {
    display: flex;
    flex-direction: column;
  }

  .user_name {
    margin-top: 47px;
    border-radius: 8px;
    padding: 15px 38px 15px 16px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    width: 80%;
  }

  .user_email {
    margin-top: 20px;
    padding: 15px 38px 15px 16px;
    border-radius: 8px;
    border: none;
    font-size: 17px;
    font-weight: 400;
    width: 80%;
  }

  .massage {
    margin-top: 18px;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    padding: 15px 38px 15px 16px;
    color: #b3bac5;
    border-radius: 8px;
    border: none;
    width: 80%;
  }

  .get_in_touch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px 14px 16px;
    background: #fff;
    border-radius: 8px;
    width: 142px;
    margin-top: 28px;
    color: #6070ff;
    border: none;
    font-size: 17px;
    font-weight: 500;
    cursor: pointer;
  }

  .get_in_touch:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
    scale: 1.09;
    word-spacing: 1.5px;
  }

  .get_in_touch:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  .footer-ul {
    list-style: none;
  }

  .bottom-line-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-line {
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
    margin-top: 40px;
  }

  #error {
    font-size: 0;
    background-color: rgb(237, 55, 55);
    padding: 2px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    text-align: center;
  }

  .showError {
    opacity: 1 !important;
    font-size: 14px !important;
  }
}

/* ////////////// media-query ON DESKTOP ////////// */

@media (min-width: 767px) {
  header div {
    margin-left: 5%;
  }

  .icons-div li {
    list-style: none;
  }

  article {
    width: 80%;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.187);
    height: max-content;
  }

  article:nth-child(1) {
    margin-bottom: 20px;
  }

  .workTitle {
    margin-top: 20px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    color: var(--secondary);
  }

  .details {
    font-size: 15px;
    font-weight: 400;
  }

  .techStacks ul {
    display: flex;
    list-style: none;
    margin: 20px;
    margin-left: 0;
    flex-wrap: wrap;
    width: fit-content;
  }

  .techStacks ul li {
    padding: 5px;
    background-color: var(--blue-background);
    margin: 5px;
    font-size: 12px;
    color: var(--primary);
    border-radius: 5px;
  }

  #modal {
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 200;
    width: 100%;
    height: 100vh;
    background: rgba(180, 173, 173, 0.858);
  }

  .modal-container {
    display: flex;
    flex-direction: column;
    width: 95%;
    max-width: 800px;
    border-radius: 10px;
    background-color: white;
    height: 80%;
    padding: 20px;
  }

  .back-end-dev-modal {
    display: flex;
    margin-left: -0.5vh;
    opacity: 90%;
    color: #7a869a;
    list-style-type: disc;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .canopyModal {
    font-weight: 700;
    color: #344563;
  }

  .back-modal {
    margin-left: 5vh;
  }

  .Type2015-modal {
    margin-left: 5vh;
  }

  .idcard-modal {
    margin-top: 1vh;
    width: 100%;
    height: 45vh;
    min-width: 200px;
  }

  .lorem {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #344563;
    width: 70%;
  }

  .modal-tonic-container {
    display: flex;
    justify-content: space-between;
    color: #091e42;
  }

  .modal-tonic {
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .modal-canopy a {
    text-decoration: none;
    color: #091e42;
  }

  .modal-canopy {
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    color: #091e42;
    margin: 10px 0 5px 10px;
  }

  .lorem-button-div {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 2.5vh;
    height: 15vh;
  }

  .language-buttons-div {
    display: flex;
    justify-content: start;
    flex-direction: column;
    margin-left: 6vh;
  }

  .language-button-modal {
    display: flex;
    margin-top: -2.2vh;
  }

  .language-button {
    margin-top: 3vh;
    margin-left: 10px;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: max-content;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .buttons-div {
    border-top: 1px solid #ebecf0;
    display: flex;
    align-items: center;
    height: 7vh;
    margin-top: 3vh;
    padding-top: 12px;
  }

  .SeeLive-button {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #396df2;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 6px;
    padding: 10px 16px;
    margin-left: 10px;
    width: max-content;
    color: #396df2;
    cursor: pointer;
  }

  .SeeSource-button {
    display: flex;
    align-items: center;
    background: #fff;
    border: 1px solid #396df2;
    box-shadow: 0 48px 48px rgba(37, 47, 137, 0.08);
    border-radius: 6px;
    padding: 10px 16px;
    margin-left: 10px;
    width: max-content;
    color: #396df2;
    cursor: pointer;
  }

  .button-icon {
    height: 20px;
    width: 18px;
    margin-left: 10px;
  }

  .SeeLive-button:hover {
    background-color: #396df2;
    color: white;
    transition: 0.3s;
  }

  .SeeSource-button:hover {
    background-color: #396df2;
    color: white;
    transition: 0.3s;
  }

  .cross {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vh;
    right: 4%;
    cursor: pointer;
    z-index: 2;
    height: 3vh;
    font-size: x-large;
    background: none;
    border: none;
    color: #67798e;
  }

  .blur {
    filter: blur(15px);
  }

  .headerLineParent-mob {
    display: none;
  }

  .My-logo-h1 {
    transition: 0.3s ease-in-out;
    scale: 1.25;
    color: #6070ff;
    list-style: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    margin-left: 7vh;
    position: absolute;
    animation: animation1 2s;
  }

  @keyframes animation1 {
    0% {
      transform: rotate(0deg) translate(180px);
    }

    50% {
      transform: rotate(10deg) translate(-20px);
    }

    100% {
      transform: rotate(0deg) translateX(0);
    }
  }

  .Tonic-1 a h1 {
    margin-top: 2.5vh;
    margin-left: 3vh;
    font-size: 48px;
  }

  .header-BG {
    position: absolute;
    height: 90%;
    width: 98%;
    background-image: url("IMAGES/Header\ bg.svg");
    background-position: center;
    background-size: 100% 100%;
    z-index: 1;
  }

  .header-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 10vh;
    z-index: 100;
    position: fixed;
    background-color: #fff;
  }

  .header-mobile-menu {
    display: none;
  }

  .Menu {
    margin: 10vh;
    display: flex;
    list-style: none;
    color: #344563;
  }

  .menuItem1 {
    text-decoration: none;
    cursor: pointer;
    margin-right: 4vh;
    font-weight: 500;
    font-size: 15px;
    transition: 0.3s;
  }

  .menuItem2 {
    cursor: pointer;
    margin-right: 4vh;
    transition: 0.3s;
  }

  .menuItem3 {
    cursor: pointer;
    margin-right: 6vh;
    transition: 0.3s;
  }

  .Menu .menuItem1:hover {
    scale: 1.25;
  }

  .Menu .menuItem2:hover {
    scale: 1.25;
  }

  .Menu .menuItem3:hover {
    scale: 1.25;
  }

  .a {
    text-decoration: none;
  }

  .you {
    display: none;
  }

  .div-1 {
    height: 100%;
  }

  .section-1 {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 0 150px;
    background-color: white;
  }

  .desktop-menu {
    margin-top: 10vh;
  }

  .background-img {
    border-bottom-left-radius: 70px;
    position: absolute;
    width: 100%;
    height: 85%;
    z-index: -1;
    background: #fff;
  }

  .heading-1 {
    display: flex;
    justify-content: start;
    align-items: start;
    flex-direction: column;
    margin-top: 20vh;
    width: 79%;
    margin-left: 20vh;
    height: 50%;
  }

  .First-heading {
    font-weight: 700;
    font-size: 48px;
    transition: 0.3s ease-in-out;
    margin-top: -18vh;
    color: #172b4d;
    width: 70%;
    z-index: 2;
  }

  .First-heading:hover {
    letter-spacing: 0.7px;
    cursor: default;
  }

  .First-heading-description {
    display: flex;
    width: 80%;
    font-size: 20px;
    color: #344563;
  }

  .exclimationMark {
    z-index: 30;
    font-size: 48px;
    font-weight: 700;
    animation: exclimationMark 2s infinite ease-in-out;
  }

  @keyframes exclimationMark {
    0% {
      color: #172b4d;
    }

    50% {
      color: white;
    }

    100% {
      color: #172b4d;
    }
  }

  .Connect-heading {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 94%;
    margin-top: 2vh;
    z-index: 1;
  }

  .icons-div-mob {
    display: none;
  }

  .icons-div {
    width: 60%;
    display: flex;
    margin: 30px 0;
    z-index: 1;
  }

  .socialLink {
    display: flex;
    margin: 10px 0;
  }

  .icons {
    margin-left: 2vh;
    width: 20px;
    height: 20px;
  }

  .socialIcon {
    margin: 20px;
    text-decoration: none;
    cursor: pointer;
  }

  /* artical sections */

  .Mob-section-2 {
    display: none;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  /* artical-1 */

  .artical-1 {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: row;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .portfolio-idcard {
    width: 100%;
    list-style-type: none;
  }

  .idcard-1-img {
    width: 100%;
    height: 40vh;
    min-width: 200px;
    transition: 0.3s ease-in-out;
    border-radius: 12px;
  }

  .idcard-1-img:hover {
    cursor: pointer;
  }

  .div-2 {
    height: 100%;
  }

  .Tonic-1 a {
    text-decoration: none;
    color: #172b4d;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .Canopy-1 {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    margin-top: 2vh;
  }

  .Canopy-1 a {
    margin-left: 3vh;
    text-decoration: none;
    color: #344563;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }

  .back-end-dev {
    display: flex;
    margin-left: 4vh;
    opacity: 90%;
    color: #7a869a;
    list-style-type: disc;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .Type2015 {
    margin-left: 4vh;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  .Multi-description {
    margin-left: 3vh;
  }

  .Tonic-1-description {
    margin-left: 3vh;
    color: #344563;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-top: 3vh;
  }

  .idcard-1-buttons {
    display: flex;
    align-items: center;
  }

  .tonic-1-html {
    margin-top: 3vh;
    margin-left: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 35px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
  }

  .tonic-1-css {
    margin-top: 3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 30px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 1vh;
  }

  .tonic-1-javaScript {
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    padding: 4px 12px;
    background: #ebebff;
    border-radius: 8px;
    width: 68px;
    height: 20px;
    color: #6070ff;
    letter-spacing: 0.03em;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin-left: 1vh;
  }

  .Seeproject-a {
    text-decoration: none;
  }

  .Button-SeeProject {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 10px;
    border: 1px solid #96aef0;
    border-radius: 10px;
    background: #fff;
    color: #396df2;
    letter-spacing: 0.03em;
    margin-top: 4vh;
    margin-left: 3vh;
    cursor: pointer;
    transition: 0.3s;
  }

  .Button-SeeProject:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
    scale: 1.09;
    word-spacing: 1.5px;
  }

  .Button-SeeProject:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  /* artical-2 */

  .artical-2 {
    display: flex;
    justify-content: space-between;
    align-items: self-start;
    flex-direction: row;
    width: 80%;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    background: #fff;
    padding: 16px;
    gap: 12px;
    position: relative;
    margin-top: 15vh;
  }

  .multi-post-heading {
    font-size: 45px;
    margin-left: 3vh;
  }

  .Multi-post a {
    color: #172b4d;
    text-decoration: none;
  }

  .portfolio-idcard-2 {
    width: 100%;
    list-style-type: none;
  }

  .idcard-2-img {
    width: 100%;
  }

  /* about myself section 3 */

  .section-3 {
    width: calc(100% - 20%);
    height: calc(100vh - 20%);
    border-radius: 0 150px 0 0;
    background-color: white;
    display: flex;
    padding: 10%;
    justify-content: space-between;
    margin-top: 16vh;
  }

  .heading-2 {
    margin-left: 7%;
  }

  .About-left {
    width: 40%;
  }

  .about-br {
    display: flex;
  }

  .About-myself {
    margin-top: 14vh;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    color: #172b4d;
  }

  .second-heading-description {
    margin: 20px 0;
  }

  .Let-connect {
    display: flex;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #7f8cff;
    width: 94%;
    margin-top: 1.5vh;
  }

  .icons-div-2 {
    display: flex;
    width: 94%;
    height: 20px;
    margin-top: 1.5vh;
    list-style: none;
    margin-left: 5%;
  }

  .icons-2 {
    margin-left: 3.2vh;
    width: 20px;
    height: 20px;
  }

  .icons-3 {
    margin-left: 2vh;
    width: 20px;
    height: 20px;
  }

  .get-my-resume {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    flex-direction: column;
    padding: 16px;
    border: 2px solid #96aef0;
    border-radius: 10px;
    background: #fff;
    color: #396df2;
    letter-spacing: 0.03em;
    width: 175px;
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    margin-left: 7%;
    margin-top: 5vh;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
  }

  .get-my-resume:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
    scale: 1.09;
    word-spacing: 1px;
  }

  a.get-my-resume:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  .about-right {
    width: 50%;
  }

  .languages-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }

  .Languages {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    margin-top: 16vh;
  }

  .arrow-language {
    color: #8f9295;
    height: 6px;
    font-size: 25px;
    width: 12px;
    transform: rotate(90deg);
    margin-top: 13vh;
  }

  .div-JS {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    background: #f7f7f9;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 4vh;
    padding: 12px;
  }

  .div-HTML {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    background: #f7f7f9;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 4vh;
    padding: 12px;
  }

  .div-CSS {
    display: flex;
    flex-direction: column;
    width: 80px;
    height: 80px;
    background: #f7f7f9;
    border-radius: 10px;
    margin-right: 20px;
    margin-top: 4vh;
    padding: 12px;
  }

  .language-icons-container {
    display: flex;
  }

  .icons-languages-div {
    list-style: none;
  }

  .languages-icons {
    width: 48px;
    height: 48px;
  }

  .span-JS {
    display: flex;
    align-items: center;
    margin-top: 0.5vh;
    color: #253858;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
  }

  .Frameworks-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    margin-left: 1%;
  }

  .Frameworks {
    margin-top: 2vh;
    margin-left: 2%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .Arrow-frameworks {
    color: #6c6e70;
    height: 6px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .Skills-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 9vh;
    padding-bottom: 1vh;
    border-bottom: 1px solid rgba(0, 0, 0, 0.242);
    margin-left: 1%;
    margin-bottom: 5vh;
  }

  .Skills {
    margin-top: 2vh;
    margin-left: 2%;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
  }

  .Arrow-skills {
    color: #6c6e70;
    height: 6px;
    font-size: 25px;
    margin-bottom: 20px;
    margin-right: 10px;
  }

  .Contact_form_container {
    z-index: 1;
    background-color: #fff;
    width: 100%;
  }

  .contact-description {
    width: 60%;
    font-size: 16px;
    z-index: 100;
  }

  .Contact_form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    flex-direction: column;
    padding: 103px 24px 8px;
    background-color: #6070ff;
    border-radius: 150px 0 0 0;
    background-position: right;
    background-repeat: no-repeat;
  }

  .get-in-touch-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .div-imges {
    display: none;
  }

  .div2-imges {
    position: absolute;
    width: 100%;
    margin-top: -11vh;
  }

  .div-BG {
    width: 80%;
    height: 80%;
    position: absolute;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("IMAGES/contact\ form\ background\ shapes.svg");
    z-index: 2;
    margin-left: 10%;
    margin-top: 10%;
  }

  .form_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 0;
  }

  .form_heading h2 {
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    z-index: 2;
    color: #fff;
  }

  .Contact_form p {
    color: #ebebff;
    font-size: 20px;
    font-weight: 400;
    width: 600px;
    text-align: center;
    margin: 10px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  .user_name {
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    width: 500px;
    border: 1px solid #cfd8dc;
    margin: 10px 0;
    outline: none;
    padding: 10px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }

  .user_name:hover {
    scale: 1.02;
  }

  .user_email {
    border-radius: 5px;
    font-size: 17px;
    font-weight: 400;
    width: 500px;
    border: 1px solid #cfd8dc;
    margin: 10px 0;
    outline: none;
    padding: 10px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }

  .user_email:hover {
    scale: 1.02;
  }

  .massage {
    margin: 10px 0;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #b3bac5;
    border-radius: 5px;
    width: 500px;
    border: 1px solid #cfd8dc;
    outline: none;
    padding: 10px;
    background-color: #fff;
    transition: 0.3s ease-in-out;
  }

  .massage:hover {
    scale: 1.02;
  }

  .get_in_touch {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 16px 14px 16px;
    background: #fff;
    border-radius: 8px;
    width: 142px;
    margin-top: 28px;
    color: #6070ff;
    border: none;
    font-size: 17px;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;
  }

  .get_in_touch:hover {
    border: 1px solid rgb(14, 14, 223);
    background-color: rgba(26, 59, 208, 0.929);
    color: white;
    scale: 1.09;
    word-spacing: 1.5px;
  }

  .get_in_touch:active {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: blue;
  }

  .footer-ul {
    list-style: none;
  }

  .bottom-line-div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .bottom-line {
    width: 134px;
    height: 5px;
    background: #0d151e;
    border-radius: 10px;
    margin-top: 40px;
  }

  #error {
    font-size: 0;
    background-color: rgb(237, 55, 55);
    padding: 2px 10px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    opacity: 0;
    text-align: center;
  }

  .showError {
    opacity: 1 !important;
    font-size: 14px !important;
  }

  /* ///////////////////////////// */

  .gray-filter {
    filter: saturate(140%);
  }
}
